.card-list {
  // border: 1px solid #003255;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(
    90deg,
    #003255 0%,
    #02375ca2 50%,
    transparent 50%
  );

  width: 100%;
  padding: 2%;
  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-group {
      margin: 1.5rem;
      padding: 0.5rem;
      // background-color: orangered;
      width: 30%;
      display: flex;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        #003255 0%,
        #02375ca2 50%,
        transparent 50%
      );
      border-radius: 0.5rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: -3rem;
      }
      .input {
        // padding: 2rem;
        width: 100%;
        padding: 1rem 2rem;
        background-color: #fff;
        border: none;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        &:focus {
          outline: none;
          border-bottom: 2px solid #02375ca2;
        }
      }
    }

    .btn-back {
      background-image: linear-gradient(
        90deg,
        #003255 0%,
        #02375ca2 50%,
        transparent 50%
      );
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: 1px solid #003255;
      border-radius: 0.5rem;
      display: flex;
      padding: 1rem 2.5rem;
      justify-content: space-between;
      width: 10rem;
      align-items: center;
      text-decoration: orange;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      img {
        width: 2rem;
      }
    }
  }
}
