*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #414040;
    background-color: #2A74A9;
    background-image: linear-gradient(315deg, #2A74A9 0%, #2A74A9 74%);

    /*===========================================MEDIA QUERIES====================================================*/
/*============================================================================================================*/

/*--------------------------------TOGGLE THEME----------------------------------------------------------------*/

    
}
